<div style="text-align:center">
    <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Lugares Cercanos</h2>
                <a class="btn btn-primary" routerLink="/crear" routerLinkActive="router-link-active">Crear nuevo negocio</a>
                <ul class="list-group">
                    <ng-container *ngFor="let pais of paises">
                        <a [routerLink]="['/detalle', pais.id]" [queryParams]="{action: 'view'}" routerLinkActive="router-link-active">
                            <li class="list-group-item">{{pais.nombre}}</li>
                            <!--*ngIf="pais.activo" -->
                        </a>
                    </ng-container>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Destacados</h2>
            </div>
        </div>
    </div>
</div>